##
# https://myst-parser.readthedocs.io/en/latest/index.html
#
myst-parser==2.0.0

##
# https://github.com/sphinx-contrib/plantuml
#
sphinxcontrib-plantuml==0.25

sphinxcontrib-openapi==0.8.1
sphinxcontrib-redoc==1.6.0
